body {
  font-family: sans-serif;
  margin: 0;
  background: #00307d;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #003380; /* mesmo azul do fundo */
  color: white;
  background-color: #ffffff;
}
.titulo-header {
  font-size: 3.0rem;
  font-weight: bold;
  margin: 0;
  color: white;
  padding-top: 60px;
  font-family: "Playwrite AU NSW", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;  
}   

.welcome-section .logo img {
    width: 120px;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 70px;
}


#loading {
  margin: 2rem;
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 60px;
}

.sliderWrapper {
  display: flex;
  transition: transform 1.0s ease;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slide img {
  height: 400px;   /* menor altura */
  width: 80%;     /* largura automática para manter proporção */
  object-fit: contain;
}

.slide-content {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  background: rgba(5, 49, 247, 0.5);
  color: white;
  padding: 1rem;
  max-width: 90%;
  z-index: 2;
  text-align: center;
}



.indicators {
  margin-top: 10px;
}

.indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.indicator.active {
  background: #031040;
}

/* .thumbnail {
  width: 100px;
  height: 200px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
} */
